nav{
		font-size: 20px;
}

img{
		width:715px;
		height:531px;
}

body {
   background-image: url("http://cdn.playbuzz.com/cdn/1e93312f-6975-46b4-9283-127e93bf2849/e367cb5e-583f-470f-a154-d818a814dfce.png");
   background-color: #cccccc;
}

#container{
		margin:10px;
		opacity:0.8;
		background-color:white;
		padding:15px;
		border-radius:30px;
		text-align:center;
		height:6290px;
		width:1460px;
}
		
a:link{
		color:red;
		background-color:white;
}

a:hover{
		color:red;
		background-color:gold;
		font-size:30px;
}

.animepic{
	height:300px
}

ul{
	list-style-position:inside;
}

#tictactoeboard{
	border-color:red;
	width:330px;
	height:330px;
	border-style:solid;
	border-width:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:25px;
}

.box{
	float:left;
	height:100px;
	width:100px;
	border-style:solid;
	border-width:5px;
	line-height:100px;
	border-color:red;
	vertical-align:middle;
	font-size:20px;
}

#circle{
	height:100px;
	width:100px;
	background-color:orange;
	border-radius:50px;
	position:relative;
	top:100px;
	left:100px;
}
#clickpanel{
	border-color:purple;
	width:330px;
	height:330px;
	border-style:solid;
	border-width:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:25px;
}

#gallery{
	height:1000px
}

#animelist{ 
	border-color:red;
	width:1454px;
	height:6180px;
	border-style:solid;
	border-width:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:25px;
} 

.box2{
	float:left;
	height:550px;
	width:715px;
	border-style:solid;
	border-width:6px;
	border-color:red;
	vertical-align:center;
}
