body{
	background-color:black;
	color:blue;
}

div{
		margin:20px;
		background-color:white;
		padding:20px;
		border-radius:30px;
		text-align:center
}

a:link{
		color:black;
		background-color:blue;
}

a:visited{
		color:black;
		background-color;yellow
}

a:hover{
	color:blue'
	background-color:brown;
	font-size:15px;
	font-weight:bolder;
}	